* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 5rem 0;
    font-size: 100%;
    line-height: 1.5;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: rgba(6, 13, 26, 0.137); */
}

body {
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
}

.container {
    max-width: 20rem;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    margin: 0;
    padding: 0.1rem 0.4rem;
    font: inherit;
    font-size: 0.875rem;
    background-color: transparent;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px black;
    border-radius: 0.3rem;
    appearance: none;
}

.btn:disabled {
    opacity: 0.6;
}

.btn--red {
    color: #b7043d;
    box-shadow: 0 0 0 2px #b7043d;
}

.btn--red:hover {
    color: white;
    background-color: #b7043d;
}

.btn--bg-blue {
    color: white;
    background-color: #14cc61;
    border-color: #14cc61;
    box-shadow: 0 0 0 2px #14cc61;
}

.btn--bg-blue:hover {
    background-color: #205f06;
    border-color: #205f06;
    box-shadow: 0 0 0 2px #205f06;
}

.tasks {
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem;
    padding: 0;
    gap: 1rem;
    list-style: none;
}

.task {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    background-color: #f1f1f1;
    border-radius: 0.4rem;
}

.task--done {
    opacity: 0.6;
}

.task__label {
    display: block;
}

.task__checkbox {
    display: none;
}

.task__checkbox-custom {
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: white;
    border: 2px solid white;
    box-shadow: 0 0 0 2px black;
    border-radius: 0.3rem;
}

.task__checkbox:checked+.task__checkbox-custom {
    background-color: black;
}

.task__text {
    margin: 0 1rem;
    flex-grow: 1;
}

.task__delete {
    margin-left: auto;
}

.task--done .task__text {
    text-decoration: line-through;
}

.create-task {
    display: flex;
    flex-direction: column;
}

.create-task__textarea {
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    resize: none;
    font: inherit;
    font-size: 1rem;
    background-color: white;
    border: 2px solid white;
    box-shadow: 0 0 0 2px black;
    border-radius: 0.3rem;
    margin: 0 0 1rem;
}

.create-task__submit {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-size: 1rem;
}